<div class="topo">
    <div class="icone-container">
        <a target="_blank" href="https://instagram.com/on_joni">
            <span class="mdi mdi-instagram icone"></span>
        </a>
        <a target="_blank" href="https://wa.me/5554991278143">
            <span class="mdi mdi-whatsapp icone"></span>
        </a>
    </div>

    <div class="menu">
        <a href="#">Estoque</a>
        <a href="#">Contato</a>
        <a href="#">Localização</a>
    </div>

    <h1>Jnz Garage</h1>
</div>
